@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.main-clr {
    color: #F26E1D;
}

.main-bg-clr {
    background-color: #F26E1D;
}

.main-bg-clr-50 {
    background-color: #ae5e2c;
}

.secondary-bg-clr {
    background-color: #8B04FB;
}

.button-style {
    height: 3rem;
    --border-radius: 15px;
}

.blur-bg {
    background-color: #ffffff10;
    backdrop-filter: blur(100px);
}

