.top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  width: 100%;
}

.top-container h1 {
  font-size: 1.7em;
  font-weight: 600;
}

.form {
  background-color: #18273f !important;
  flex-grow: 1;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.input {
  border: 0;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  color: #fff !important;
  background-color: transparent !important;
  height: 3rem;
  margin-top: 1rem;
}

.input:focus {
  box-shadow: none !important;
  border-color: #F26E1D !important;
}

.buttons {
  text-align: center;
}

.buttons > div {
  position: relative;
  padding-block: 0.5rem;
}

.buttons > div::before {
  position: absolute;
  content: '';
  height: 1px;
  width: 20%;
  background-color: #fff;
  top: 0;
  bottom: 0;
  margin-block: auto;
  left: 0;
  opacity: 0.2;
}

.buttons > div::after {
  position: absolute;
  content: '';
  height: 1px;
  width: 20%;
  background-color: #fff;
  top: 0;
  bottom: 0;
  margin-block: auto;
  right: 0;
  opacity: 0.2;
}

.login-btn {
  --background: #F26E1D;
}

.signup-btn {
  --color: #fff;
  --border-color: #fff;
}