.back-btn {
    --background: transparent !important;
    --border: 0;
    --box-shadow: none;
}

ion-checkbox {
    --size: 16px;
    --checkbox-background-checked: black;
}

ion-checkbox::part(container) {
    border-radius: 3px;
    border: 2px solid #fff;
}

.outline-btn {
    --color: #fff !important;
    --border-color: #fff !important;
    --background: transparent;
}